dist
scripts/
html/
instruction_**/
out/
node_modules
.vscode-test/
*.vsix
logic/
.vscode/
.gitignore
.vscode-test.mjs
.vscodeignore
CHANGELOG.md
eslint.config.mjs
tsconfig.json
vsc-extension-quickstart.md
